#userForm{
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#userForm h1{
  text-align: center;
  margin-bottom: 20px;
}

.box{
  margin-bottom: 15px;
  margin: 0 auto;
  width: 80%;
  
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="confirmPassword"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

#btn {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#btn:hover {
  background-color: #45a049;
}

#msg {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #000;
  border-radius: 4px;
}

.error {
  color: #ec1026;
  border: 1px solid #f4eaeb;
  box-shadow: 0 0 10px rgba(249, 230, 232, 0.5);
  padding: 10px;
  margin: 20px auto;
  position: relative;
  width: 80%;
}